.App {
  text-align: center;
  margin: 20px auto;
  max-width: 300px;
}

img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: ease-in-out 0.1s;
  margin-left: 5px;
}

img:hover {
  transform: scale(1.1);
}

input[type='text'] {
  font-family: 'Courier New', Courier, monospace;
}

p {
  font-family: 'Courier New', Courier, monospace;
}

button {
  height: 30px;
}